/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

test/dummy/db/*.sqlite3*
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/public/packs/
test/dummy/public/packs-test/
test/dummy/node_modules/
test/dummy/Gemfile.lock
test/dummy/config/master.key
test/dummy/storage/*.sqlite3*
test/dummy/log/*
test/coverage/*
**/.kamal/
deploy.yml
.DS_Store

/Gemfile.lock
/gemfiles/*.gemfile.lock

/dist/
*.gem

# Ignore bundler and vendor-installed gems
/vendor/
/vendor/**
/vendor/bundle/
/vendor/cache/
/vendor/ruby/

.cursor/
.claude/
.aux/

TODO