/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/dist/
*.gem

# Ignore bundler and vendor-installed gems
/vendor/
/vendor/**
/vendor/bundle/
/vendor/cache/
/vendor/ruby/

TODO